.parent {
  width: 100%;
  height: 100%;
  max-width: 1880px;
  /* padding-inline: 2rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position:relative;
}

/* .circle {
  border-radius: 50%;
  position: absolute;
  opacity: 0.14;
  background-color: #68eed8;
  filter: blur(250px);
  -webkit-filter: blur(250px);
  will-change: filter;
}

.circle1 {
  width: 800px;
  height: 825px;
  top: 200px;
  right: 0;
}

.circle2 {
  width: 700px;
  height: 725px;
  top: -200px;
  left: 10%;
} */

/* 
@media  (max-width: 1622px) {
    .parent{
        padding-inline: 7rem;
    }
} */