.parent {
  width: 100%;
  /* height: 900px; */
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 1000px; */
  /* z-index: 0; */
  max-width: 1500px;
  padding-block: 100px;
  padding-inline: 2rem;
}

.textContainer {
  flex: 1.5 1 fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 850px;
}

.grid {
  width: 100%;
  display: grid;
  place-items: center;
  gap: 1rem;
  margin-bottom: 4rem;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
}

.gridBox {
  border-radius: 13px;
  width: 100%;
  background: rgba(255, 255, 255, 0.04);
  padding: 2rem;
  /* padding-bottom: 3rem; */
}

.icon {
  color: #00ce79;
}

.featureHeadingDiv {
  color: var(--text);
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: 125%;
  margin-bottom: 1rem;
}

.para {
  color: var(--text);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 30px */
}

.footer {
  color: #cacaca;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 300;
  line-height: 162%;
  letter-spacing: 0.36px;
}

.highlightedText {
  color: #cacaca;
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  line-height: 162%; /* 58.32px */
  letter-spacing: 0.36px;
}

.dragonContainer {
  flex: 1 1.5 auto;
  min-width: 500px;
}

.dragon {
  width: 100%;
}

@media (max-width: 1622px) {
  .featureHeadingDiv {
    font-size: 26px;
  }

  .para {
    font-size: 16px;
    line-height: 24px;
  }

  .footer {
    line-height: 130%;
    font-size: 24px;
  }
}

@media (max-width: 1350px) {
  .featureHeadingDiv {
    font-size: 24px;
  }

  .para {
    font-size: 14px;
  }

  .footer {
    font-size: 22px;
  }

  .dragonContainer {
    min-width: 300px;
  }
}

@media (max-width: 1150px) {
  .dragonContainer {
    display: none;
  }
  .featureHeadingDiv {
    font-size: 26px;
  }

  .para {
    font-size: 16px;
    line-height: 24px;
  }

  .footer {
    line-height: 130%;
    font-size: 24px;
  }

  .parent {
    padding-top: 0px;
  }
}

@media (max-width: 850px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    margin-bottom: 2rem;
  }
}

@media (max-width: 750px) {
  .featureHeadingDiv {
    font-size: 22px;
  }

  .footer {
    font-size: 18px;
  }
}

@media (max-width: 550px) {
  .parent {
    padding-bottom: 75px;
  }
}

@media (max-width: 420px) {
  .grid {
    row-gap: 0rem;
  }
}
