.parent {
  text-align: center;
  font-family: Staatliches;
  font-size: 110px;
  font-style: normal;
  font-weight: 400;
  line-height: 99%; /* 113.85px */
  letter-spacing: 1.15px;
  background: linear-gradient(
    92deg,
    #fafafa 19.75%,
    rgba(255, 255, 255, 0.13) 106.5%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 3rem;
}


@media  (max-width: 1622px) {
  .parent{

    font-size: 96px;
  }
}

@media (max-width: 1350px) {
 .parent{

    font-size: 90px;
  }
}

@media (max-width: 1150px) {
.parent{

    font-size: 80px;
  }
}

@media (max-width: 850px) {
 .parent{

    font-size: 64px;
  }
}

@media (max-width: 600px) {
 .parent{

    font-size: 48px;
  }
}

@media (max-width: 420px) {
  .parent{
    font-size: 40px;
  }
}