.parent {
  width: 100%;
  /* height: 900px; */
  position: relative;
  overflow: hidden;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 1000px; */
  /* z-index: 0; */
  padding-block: 75px;
  padding-inline: 2rem;

}

.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1500px;

}

.container1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* width: 70%; */
  gap: 1.5rem;
}

.serverDiv {
  width: 35%;
  min-width: 140px;
  z-index: 1;
}

.server {
  width: 100%;
  }

.textContainer {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-direction: column;
  position: relative;
  z-index: 0;
  /* z-index: -1; */
}

.textContainer::after {
  content: "";
  z-index: -1;
  position: absolute;
  background: url("/clouds.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 120%;
  height: 120%;
  top: -20%;
  left: -40%;
}

.hallow {
  position: absolute;
  top: -20px;
  left: -17%;
  border-radius: 50%;
  background: linear-gradient(
    180deg,
    rgba(157, 255, 201, 0.1) 0.04%,
    rgba(255, 255, 255, 0) 73.51%
  );
  width: 625px;
  height: 585px;
  z-index: -2;
}

.atriox {
  color: var(--text);
  font-family: Staatliches;
  font-size: 260px;
  font-style: normal;
  font-weight: 400;
  line-height: 65%; /* 338.8px */
  letter-spacing: 5.6px;
}

.hosting {
  color: var(--text);
  font-family: Staatliches;
  font-size: 110px;
  font-style: normal;
  font-weight: 400;
  line-height: 121%; /* 154.88px */
  letter-spacing: 6.4px;
  margin-bottom: 0.5rem;
}

.priceTag {
  max-width: 550px;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.432);
  color: var(--text);
  font-family: Poppins;
  font-size: 18px;
  margin-bottom: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 108%; /* 23.76px */
}

.priceTag .price {
  font-weight: 600;
}

.desc {
  color: rgba(255, 255, 255, 0.8);
  font-family: Poppins;
  font-size: 20px;
  max-width: 550px;
  font-style: normal;
  font-weight: 400;
  line-height: 163%; /* 35.86px */
  margin-bottom: 1.5rem;
}

.button {
  cursor: pointer;
  padding-inline: 2rem;
  display: flex;
  justify-content: center;
  height: fit-content;
  align-items: center;
  height: 100%;
}

.duoButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */
  max-width: 570px;
  height: 50px;
  gap: 1.5rem;
  z-index: 999;
}

.bIcon1{
   color: #000;
   font-size: 32px;
}

.bIcon2{
   color: #fafafa;
   font-size: 28px;
}

.butt1 {
  border-radius: 5px;
  background: #00ce79;
  color: #000;
  text-align: center;
  font-family: Staatliches;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 45px */
  /* padding: 0 1rem; */
}

.butt2 {
  border-radius: 5px;
  border: 0.5px solid rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.04);
  color: var(--text);
  text-align: center;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 24px */
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 540px; */
  width: 100%;
  flex: 1 1 180px;
  height: 800px;
  /* transform: rotate(3deg);  */
  /* overflow: hidden; */
  pointer-events: none;
}


.corousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 180px;
  width: 100% !important;
  /* width: 100%; */
  /* height: 100%; */
  padding-block: 2.5rem;
  padding-inline: 2rem;
  border-radius: 28px;
  border: 2px solid rgba(133, 133, 133, 0.315);
  margin-block: 10px;
  position: relative;
  will-change: transform;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

:global(.slick-current) +:global(.slick-slide) .slide {
  box-shadow: 10px 14px 14.1px 0 rgba(0, 0, 0, 0.25);
}


/* minecraft ▸ slides 0, 5, 10, … 45 */
.slide0, .slide5, .slide10, .slide15, .slide20, .slide25,
.slide30, .slide35, .slide40, .slide45 {
  background-image: url("/mcraft.webp");
}

/* fivem ▸ 1, 6, 11, … 46 */
.slide1, .slide6, .slide11, .slide16, .slide21, .slide26,
.slide31, .slide36, .slide41, .slide46 {
  background-image: url("/fivem.webp");
}

/* satisfactory ▸ 2, 7, 12, … 47 */
.slide2, .slide7, .slide12, .slide17, .slide22, .slide27,
.slide32, .slide37, .slide42, .slide47 {
  background-image: url("/satisfactory.webp");
}

/* minecraft‑b ▸ 3, 8, 13, … 48 */
.slide3, .slide8, .slide13, .slide18, .slide23, .slide28,
.slide33, .slide38, .slide43, .slide48 {
  background-image: url("/mcraftb.webp");
}

/* factorio ▸ 4, 9, 14, … 49 */
.slide4, .slide9, .slide14, .slide19, .slide24, .slide29,
.slide34, .slide39, .slide44, .slide49 {
  background-image: url("/factorio.webp");
}

/* .activeSlide {
  transform: translateX(-5%);
  filter: saturate(2) brightness(2);
  border-color: transparent;
  transition: all 1.4s ease;
}

.activeSlide div div{
  border-color: transparent;
} */

.title {
  color: var(--text);
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 125%; /* 50px */
  margin-bottom: 1.5rem;
}

.gameDesc {
  color: var(--text);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%; /* 22.4px */
  letter-spacing: 0.16px;
  margin-bottom: 1rem;
  max-width: 400px;
}

.high {
  font-weight: 800;
}

.price {
  color: var(--text);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 108%;
}

.dragonContainer{
  display: none;
}



@media  (max-width: 1622px) {

  .parent{
    padding-block: 2rem;
  }

  .atriox{
    font-size: 200px;
  }

  .hosting{
    font-size: 90px;
  }
  .serverDiv{
    width: 28%;
    min-width: 0px;
  }

  .server{
    mask-image: linear-gradient(to top, transparent, black 40%);
  -webkit-mask-image: linear-gradient(to top, transparent, black 40%);
  }

  .textContainer::after {
    width: 150%;
    top: -200px;
    height: 150%;
  }

  .desc{
    font-size: 16px;
  }

  .hallow{
    width: 500px;
    height: 480px;
  }

  .title{
    font-size: 24px;
  }

  .gameDesc{
    font-size: 14px;
    max-width: 300px;
  }

  .price{
    font-size: 16px;
  }

  .slide{
    margin-block: 12px;
  }

  .priceTag{
    font-size: 14px;
  }

  .butt1{
    font-size: 28px;
  }
  
  .butt2{
    font-size: 20px;
  }
}

@media (max-width: 1350px) {
  .serverDiv{
    display: none;
  }
  .container{
    max-width: 1100px;
    justify-content: center;
  }
  .parent{
    padding-inline: 5rem;
  }
}

@media (max-width: 1150px) {

  .parent{
    margin-bottom: 0px;
  }
  
 .atriox{
  font-size: 160px;
 }

 .hosting{
  font-size: 84px;
 }

 .priceTag{
  font-size: 16px;
 }

 .desc{
  font-size: 16px;
 }

 

 .butt1{
  font-size: 22px;
 }

 .butt2{
  font-size: 16px;
 }

 .bIcon1{
  font-size: 24px;
 }

 .bIcon2{
  font-size: 24px;
 }

 .container2{
  display: none;
 }

 .serverDiv{
  display: flex;
 }

 .dragonContainer{
  display: flex;
  position: relative;
  height: 600px;
  
 }

}

@media (max-width: 850px) {

  .atriox{
    font-size: 120px;
  }

  .hosting{
    font-size: 64px;
  }

  .desc{
    font-size: 16px;
  }

  .serverDiv{
    display: none;
  }

  .parent{
    padding-inline: 1rem;
    margin-top: 4rem;
  }

  .duoButtons{
    gap: 0.75rem;
  }

  .button{
    padding-inline: 1rem;
  }

  .butt1{
    font-size: 21px;
  }

  .bIcon1{
    font-size: 20px;
  }

  .butt2{
    font-size: 16px;
  }
  
  .bIcon2{
    font-size: 20px;
  }

  

  .textContainer::after{
    /* top: -45%; */
    top: -25%;

  }
}

@media (max-width: 420px) {

 
  .butt1{
    font-size: 18px;
  }

  .bIcon1{
    font-size: 17px;
  }

  .butt2{
    font-size: 14px;
  }

  .bIcon2{
    font-size: 18px;
  }
}