.parent {
  flex: 1 1;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 20px;
  background: #181818;
  background-image: url("/planbg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 -7px 40px 20px rgba(0, 206, 121, 0.05);
  border: 3px solid rgba(132, 255, 204, 0.6);
}

.down {
  border: 3px solid rgba(155, 155, 155, 0.082);
  transform: translateY(10%);
  box-shadow: none;
}

.planName {
  color: #00ff96;
  text-align: center;
  font-family: Staatliches;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 120px */
  margin-bottom: 1rem;
}

.price {
  border-radius: 5px;
  background: rgba(0, 206, 121, 0.04);
  width: 100%;
  color: var(--text);
  font-family: Poppins;
  font-size: 56px;
  font-style: normal;
  /* line-height: 210%; */
  font-weight: 800;
  letter-spacing: 0.64px;
  text-align: center;
  margin-bottom: 4rem;
}

.specList {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 3rem;
}

.specs {
  color: var(--text);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 210%; /* 42px */
  letter-spacing: 0.2px;
}

.icons {
  font-size: 18px;
  color: #00ff96;
}

.tagLine {
  color: var(--text);
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  width: 90%;
  font-style: normal;
  font-weight: 400;
  line-height: 148%; /* 41.44px */
  letter-spacing: 0.28px;
}

@media (max-width: 1622px) {
  .parent{
    padding: 2rem;
  }
}

@media (max-width: 1350px) {
  .parent{
    max-width: 600px;
  }

  .down{
    transform: unset;
  }

  .planName{
    font-size: 64px;
  }

  .price{
    font-size: 48px;
    /* margin-bottom: 3rem; */
  }

  .specList{
    margin-bottom: 2rem;
  }

  .specs, .icons{
    font-size: 16px;
  }

  .tagLine{
    font-size: 22px;
  }
}

@media (max-width: 1150px) {

}

@media (max-width: 850px) {

  .tagLine{
    font-size: 20px;
  }

}

@media (max-width: 750px) {
 
 .tagLine{
    font-size: 18px;
    line-height: 138%;
  }

}

@media (max-width: 550px) {

  .planName{
    font-size: 48px;
  }

  .price{
    font-size: 36px;
    margin-bottom: 2rem;
  }

  .specList{
  
  }

  .specs, .icons{
    font-size: 15px;
  }


}

@media (max-width: 420px) {
  
}