@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
  margin:0;
  border: 0;
  box-sizing: border-box;
}

body, html{
  width: 100%;
  background-color: var(--bg);
  min-height: 100vh;
}

#root{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: start;
}

/* WebKit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0e0e0e; /* dark background */
}

::-webkit-scrollbar-thumb {
  background: #1ae4b870; /* neon green to match the "Order Now" button */
  border-radius: 6px;
  border: 2px solid #0e0e0e; /* creates a gap between track and thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #0fe0a886;
}

/* Works in Firefox */
html {
  scrollbar-color: #1ae4b85e #0e0e0e;
  scrollbar-width: thin;
}


.slick-slide {
  width: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center;
  align-items: end !important;
  transition: all 1.4s ease;
}

.slick-current + .slick-slide{
  transform: translateX(-5%) scale(1.05);
  /* margin-block: 16px; */
}

.slick-track, .slick-list{
  width: 100%;
}

